<div class="container my-5">
  <div class="row align-items-center">
    <!-- Columna para la imagen -->
    <div class="col-md-6">
      <%= image_tag "avatar.png", class: "d-block w-100", alt: "Avatar" %>
    </div>
    <!-- Columna para el texto -->
    <div class="col-md-6">
      <h2>Atención Virtual</h2>
      <p id="dynamic-text"></p>
      
    </div>
  </div>
</div>
